
.nav-item a:hover{
  color: red ;
  

}
.nav-item a{
  font-weight: bold;
  margin-right: 40px !important;

}
.navbar-brand {
  font-size: 30px !important;
  font-weight: bolder;
  
}
.nav-item i{
  border: 1px solid grey;
  border-radius: 50px;
  padding: 0px;
  margin: 0px;
}
.rhmt{
  padding-top: 100px;
}
.rhmt h1{
    font-size: 360%;
}
.rhmt h6{
  margin-top: 10px;
}
.a li{
  font-weight: bold;
  font-size: larger;
}
.b{
  margin-top: 20px;
  color: white;
  background-color: red;
  font-size: 15px;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  padding-top:15px ;
  padding-bottom: 15px;
  border: 0px solid black;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}
.b:hover{
  background-color: blue;
}
.e{
  padding-top: 60px;
}

.d{
    text-align: center;
    padding-top: 160px;
    
}
.d h2{
  /* padding-left: 300px;
  padding-right: 300px; */
  padding-bottom: 20px;
}

.images img{
  width: 30px;
  display: flex;
}

body{
  background-color: rgb(244, 240, 240) !important;
}

.img .col-md-2{
  
  width: 180px !important;
  gap: 00px;
}
.f p{
padding-top: 70px;
padding-bottom: -10px;
}
.f h1{
  font-size: 50px;
  
}
.f h6{
letter-spacing: 2px;
font-size: medium;
padding-right: 7px;
padding-left:7px; 
padding-top: 27px;
padding-bottom: 27px;
}
.f button{
  background-color: blue;
  color: white;
  border: 0px solid black;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom:7px ;
  padding-left: 50px;
  padding-right: 50px ;
}
.f button:hover{
  background-color: red;
}
.g li{
  font-size: larger;
  font-weight: bold;
}
.g p{
padding-right: 120px;
margin-top: -60px;
padding-bottom: 9px;
}
 .chapter{
  text-align: center;
 }
 .chapter h1{
  font-weight: bolder;
 }
 .chapter p{
  padding-top: 50px;
  padding-bottom: 50px;

 }
 .chapters-text p{
   color: rgb(74, 73, 73);
   padding-top: 13px;
 }

 .chapters-text h6{
  color: gray;
margin-bottom: -3px;
 }
  .chapters-text p{
    padding-bottom: 35px;
  }
  .aa{
    background-color: #413e65
  }
.bb{
  text-align: center;
  color: white;
  
}
.bb h1{
  font-weight: bold;
  padding-top: 90px;
}
.bb h6{
  padding-top: 40px;
  
}
.aa i{
   padding: 10px 26px;
  background-color: blue;
  border-radius: 50%;
}
.-rhmt{
border: 1px solid black;
border-radius: 10px;
background-color: white;
padding-top: 30px;
margin-top: 100px !important;
}
.-rhmt h3{
  padding-top: -100px;
  padding-left: 10px;
  font-size: larger;
  font-weight: bold;
}
.-rhmt p{
  padding-left: 10px;
}
.ent i{
color: red;
font-size: 60px;
}
.ent{
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 0px 4px rgb(252, 250, 250);
  
}
.jj{
  text-align: center;
}
.calvim{
  font-size: 160%;
  text-align: center;
}
.calvim h1{
  font-size: 160%;
}
.rr h5{
    text-align: center;

}
.rr h1{
  text-align: center;
}
.just{
  text-align: center;
}
.center i{
color: goldenrod;
padding-bottom: 17px;
padding-top: 40px;
}
.center h5{
  color: rgb(85, 85, 85);
  
}
.center h6{
  color: rgb(85, 85, 85);
  
}
.center{
  padding-left: 12px;
}



.swiper {
  width: 100%;
  height: 100%;
  padding-left: 40px;
}

.swiper-slide {
  
  font-size: 18px;
  background: white;

  /* Center slide text vertically */
  display: flex;

}

.swiper-slide img {
  display: block;
  width: 20%;
  height: 100%;
  object-fit: cover;
}
.z{
  text-align: center;
}
.img-border{
   position: relative;
  
   
}
.img-border img{
 position: relative;
  z-index: 100;
}
.img-border::after{
content:  "";
position: absolute;
top: 30px;
left: -20px;
height: 100%;
width: 50%;
border: 10px solid blue;
}
.ogp:hover{
  background-color: red !important;
}
.ogp{
  text-align: center ;
}
.oggy{
  text-align: center;
}
.pg{
  text-align: center;
}
.gg{
  font-size: 50px;
  font-weight: bolder;
}
.grh{
  text-align: center;
}
.apj{
  text-align: center;
}
.gsm{
  text-align: center;
}
.gs{
  text-align: center !important;
}

.textCenter{
  text-align: center;
}
.study{
  background-color: #171621;
color: rgba(255, 255, 255, 0.8);
}
.abcd input:hover {
  border-color: red !important;
}
.abcd textarea:hover {
  border-color: red !important;
}
.abcde:hover{
  color: red !important;
}
.devil:hover{
  color: blue !important;
}
.tsn{
    width: 100%;
    border-collapse: collapse;
    background: rgb(30, 191, 206);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    
  
}
.instal{
      color: rgb(30, 191, 206);
      background : white;

}
.lmao{
  background: white ;
}